name: build
on: [push]
jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Go 1.12
        uses: subosito/setup-go@golang-dl
        with:
          version: 1.12
      - name: Checkout source code
        uses: actions/checkout@master
      - name: Get dependencies
        run: go get -t -v
      - name: Run test
        run: go test -test.v -coverprofile=coverage.out -covermode=count
      - name: Publish coverage
        if: matrix.os != 'windows-latest'
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bash <(curl -s https://codecov.io/bash)
